<div class="jumbotron">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Weather app</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
    <h4>Enter a city</h4>
        <div class="form-group">
            <input type="text" ng-model="city" class="form-control"/> 
        </div>
     <h4>Enter number of days</h4>
        <div class="form-group">
            <input type="number" ng-model="day" class="form-control" />
        </div>
        <a href="#forcast" class="btn btn-primary">Get Weather forcast</a>
    </div>
</div>